docker/nifi/flows/Flow_Final.json
{"flowContents":{"identifier":"4b3f78c0-db26-326d-ace1-2081b615976e","instanceIdentifier":"55e8ac2f-0197-1000-5c3a-42bbf6100f15","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"587894e2-0197-1000-58cc-a0f0bbb0967e","instanceIdentifier":"01f20423-4cc6-3ce8-61c9-748057491e6f","name":"API ","comments":"","position":{"x":-600.0,"y":72.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"587894e3-0197-1000-81dd-5f22222ab2fb","instanceIdentifier":"bcb7f9aa-54b4-3583-58d5-9daeb1273934","name":"EvaluateJsonPath","comments":"","position":{"x":238.5302734375,"y":-225.4697265625},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"dt":"$.dt","Destination":"flowfile-attribute","temp":"$.main.temp","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","wind_speed":"$.wind.speed","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"dt":{"name":"dt","displayName":"dt","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"temp":{"name":"temp","displayName":"temp","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"wind_speed":{"name":"wind_speed","displayName":"wind_speed","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"587894e2-0197-1000-58cc-a0f0bbb0967e"},{"identifier":"587894e5-0197-1000-fc76-9eb793fac00f","instanceIdentifier":"354e0f69-c283-3f5d-180c-96bdf869a031","name":"Fetch Weather","comments":"","position":{"x":-369.4697265625,"y":-65.4697265625},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://api.openweathermap.org/data/2.5/weather?q=London&appid=5f6866996a6754f517c8bcf00d78ba46","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0.5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"587894e2-0197-1000-58cc-a0f0bbb0967e"},{"identifier":"587894e4-0197-1000-bba0-f02e2d3707c4","instanceIdentifier":"70449b05-9420-3fb2-aa3f-781f281458fc","name":"UpdateAttribute","comments":"","position":{"x":712.0,"y":16.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"formatted_dt":"${dt:toNumber():multiply(1000):toDate():format(\"yyyy-MM-dd HH:mm:ss\")}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"formatted_dt":{"name":"formatted_dt","displayName":"formatted_dt","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"587894e2-0197-1000-58cc-a0f0bbb0967e"}],"inputPorts":[],"outputPorts":[{"identifier":"587894e6-0197-1000-c6d0-8495cf2b99f2","instanceIdentifier":"2ee82dcc-ab7e-3680-11b6-803f2ed59c5b","name":"To api","position":{"x":1232.8408842789634,"y":74.76619299954191},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"587894e2-0197-1000-58cc-a0f0bbb0967e"}],"connections":[{"identifier":"587894e8-0197-1000-b8c1-82aa24bab2a1","instanceIdentifier":"da3e3b77-ea71-3f30-b47c-6a1aae99d1c8","name":"","source":{"id":"587894e4-0197-1000-bba0-f02e2d3707c4","type":"PROCESSOR","groupId":"587894e2-0197-1000-58cc-a0f0bbb0967e","name":"UpdateAttribute","comments":"","instanceIdentifier":"70449b05-9420-3fb2-aa3f-781f281458fc"},"destination":{"id":"587894e6-0197-1000-c6d0-8495cf2b99f2","type":"OUTPUT_PORT","groupId":"587894e2-0197-1000-58cc-a0f0bbb0967e","name":"To api","instanceIdentifier":"2ee82dcc-ab7e-3680-11b6-803f2ed59c5b"},"labelIndex":0,"zIndex":6,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"587894e2-0197-1000-58cc-a0f0bbb0967e"},{"identifier":"587894e7-0197-1000-0202-4c6ac15e3bff","instanceIdentifier":"01dd3b8b-fed2-3f15-aa2d-e44f3e032888","name":"","source":{"id":"587894e3-0197-1000-81dd-5f22222ab2fb","type":"PROCESSOR","groupId":"587894e2-0197-1000-58cc-a0f0bbb0967e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"bcb7f9aa-54b4-3583-58d5-9daeb1273934"},"destination":{"id":"587894e4-0197-1000-bba0-f02e2d3707c4","type":"PROCESSOR","groupId":"587894e2-0197-1000-58cc-a0f0bbb0967e","name":"UpdateAttribute","comments":"","instanceIdentifier":"70449b05-9420-3fb2-aa3f-781f281458fc"},"labelIndex":0,"zIndex":5,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"587894e2-0197-1000-58cc-a0f0bbb0967e"},{"identifier":"587894e9-0197-1000-c0e4-cdbbc58c2dc5","instanceIdentifier":"64ff612a-80ae-3270-5af0-8bf21ccb9f8c","name":"","source":{"id":"587894e5-0197-1000-fc76-9eb793fac00f","type":"PROCESSOR","groupId":"587894e2-0197-1000-58cc-a0f0bbb0967e","name":"Fetch Weather","comments":"","instanceIdentifier":"354e0f69-c283-3f5d-180c-96bdf869a031"},"destination":{"id":"587894e3-0197-1000-81dd-5f22222ab2fb","type":"PROCESSOR","groupId":"587894e2-0197-1000-58cc-a0f0bbb0967e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"bcb7f9aa-54b4-3583-58d5-9daeb1273934"},"labelIndex":0,"zIndex":1,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"587894e2-0197-1000-58cc-a0f0bbb0967e"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"4b3f78c0-db26-326d-ace1-2081b615976e"},{"identifier":"df912b39-40a1-3a58-9261-40f8fea9cdef","instanceIdentifier":"5669c26c-0197-1000-5222-2ee0070dd776","name":"Data","comments":"","position":{"x":-624.0,"y":-264.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5668f88a-0197-1000-2cb6-c372d4b90284","instanceIdentifier":"35eaa306-c4ed-3044-50a8-29daa5fd3fbb","name":"SplitText","comments":"","position":{"x":-968.0,"y":-344.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"df912b39-40a1-3a58-9261-40f8fea9cdef"},{"identifier":"5668f88b-0197-1000-3ec8-a3964193e610","instanceIdentifier":"18b3e5a7-5bc5-36b7-3314-044c4b891182","name":"GetFile","comments":"","position":{"x":-1440.0,"y":-56.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"data/input","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"df912b39-40a1-3a58-9261-40f8fea9cdef"},{"identifier":"5668f889-0197-1000-b16c-7b2c69b21582","instanceIdentifier":"20911b81-9741-34b6-1415-1a6bfaf6cfff","name":"ControlRate","comments":"","position":{"x":-304.0,"y":-344.0},"type":"org.apache.nifi.processors.standard.ControlRate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Rate Exceeded Strategy":"Hold FlowFile","Maximum FlowFile Rate":null,"Time Duration":"1 second","Grouping Attribute":null,"Maximum Rate":"1 MB","Rate Controlled Attribute":null,"Rate Control Criteria":"data rate","Maximum Data Rate":null},"propertyDescriptors":{"Rate Exceeded Strategy":{"name":"Rate Exceeded Strategy","displayName":"Rate Exceeded Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum FlowFile Rate":{"name":"Maximum FlowFile Rate","displayName":"Maximum FlowFile Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Duration":{"name":"Time Duration","displayName":"Time Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Grouping Attribute":{"name":"Grouping Attribute","displayName":"Grouping Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Rate":{"name":"Maximum Rate","displayName":"Maximum Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Controlled Attribute":{"name":"Rate Controlled Attribute","displayName":"Rate Controlled Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Control Criteria":{"name":"Rate Control Criteria","displayName":"Rate Control Criteria","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Data Rate":{"name":"Maximum Data Rate","displayName":"Maximum Data Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"df912b39-40a1-3a58-9261-40f8fea9cdef"}],"inputPorts":[],"outputPorts":[{"identifier":"36f8e2f1-8573-380c-a334-ca898c673774","instanceIdentifier":"568158ad-0197-1000-450c-ff620a2f5ffa","name":"simulator","position":{"x":200.0,"y":-8.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"df912b39-40a1-3a58-9261-40f8fea9cdef"}],"connections":[{"identifier":"5668f88f-0197-1000-2205-841b2fac1b8c","instanceIdentifier":"0df25ee8-1942-326a-bee2-0778789630a1","name":"","source":{"id":"5668f88b-0197-1000-3ec8-a3964193e610","type":"PROCESSOR","groupId":"df912b39-40a1-3a58-9261-40f8fea9cdef","name":"GetFile","comments":"","instanceIdentifier":"18b3e5a7-5bc5-36b7-3314-044c4b891182"},"destination":{"id":"5668f88a-0197-1000-2cb6-c372d4b90284","type":"PROCESSOR","groupId":"df912b39-40a1-3a58-9261-40f8fea9cdef","name":"SplitText","comments":"","instanceIdentifier":"35eaa306-c4ed-3044-50a8-29daa5fd3fbb"},"labelIndex":0,"zIndex":11,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"df912b39-40a1-3a58-9261-40f8fea9cdef"},{"identifier":"5668f88d-0197-1000-6d56-aa0f3ab3813e","instanceIdentifier":"053e173f-e1c1-3f44-218b-6fcf123a981a","name":"","source":{"id":"5668f88a-0197-1000-2cb6-c372d4b90284","type":"PROCESSOR","groupId":"df912b39-40a1-3a58-9261-40f8fea9cdef","name":"SplitText","comments":"","instanceIdentifier":"35eaa306-c4ed-3044-50a8-29daa5fd3fbb"},"destination":{"id":"5668f889-0197-1000-b16c-7b2c69b21582","type":"PROCESSOR","groupId":"df912b39-40a1-3a58-9261-40f8fea9cdef","name":"ControlRate","comments":"","instanceIdentifier":"20911b81-9741-34b6-1415-1a6bfaf6cfff"},"labelIndex":0,"zIndex":12,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"df912b39-40a1-3a58-9261-40f8fea9cdef"},{"identifier":"f3d61c42-f8b8-3e14-96d8-d710051cf8a6","instanceIdentifier":"5681747c-0197-1000-eab2-fb437f96c71b","name":"","source":{"id":"5668f889-0197-1000-b16c-7b2c69b21582","type":"PROCESSOR","groupId":"df912b39-40a1-3a58-9261-40f8fea9cdef","name":"ControlRate","comments":"","instanceIdentifier":"20911b81-9741-34b6-1415-1a6bfaf6cfff"},"destination":{"id":"36f8e2f1-8573-380c-a334-ca898c673774","type":"OUTPUT_PORT","groupId":"df912b39-40a1-3a58-9261-40f8fea9cdef","name":"simulator","instanceIdentifier":"568158ad-0197-1000-450c-ff620a2f5ffa"},"labelIndex":0,"zIndex":13,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"df912b39-40a1-3a58-9261-40f8fea9cdef"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"4b3f78c0-db26-326d-ace1-2081b615976e"},{"identifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","instanceIdentifier":"55e987f2-0197-1000-30e4-c803c8c71bac","name":"bigdataweather","comments":"","position":{"x":112.0,"y":-248.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d35a2a5d-546f-3994-85a4-e34879580da0","instanceIdentifier":"7b199001-3ba6-3818-5470-9148eee5cc6c","name":"PutFile","comments":"","position":{"x":1008.0,"y":-360.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/opt/nifi/nifi-current/output","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"3fc9a24c-3839-3151-8e62-3ad251bcd3d5","instanceIdentifier":"58687515-0197-1000-76d8-7cc7a532ede2","name":"SplitJson","comments":"","position":{"x":-984.0,"y":-376.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"be2d55ad-f2e8-3c5a-81b5-46c047ec3e7e","instanceIdentifier":"56265948-0197-1000-4a1e-c3f040e0fa53","name":"DetectDuplicate","comments":"","position":{"x":64.0,"y":-584.0},"type":"org.apache.nifi.processors.standard.DetectDuplicate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Cache Entry Identifier":"${time}_${temperature_2m_C}_${relative_humidity_2m_pct}_${precipitation_mm}_${weather_code}_${wind_speed_10m_kmh}_${wind_direction_10m_deg}_${cloud_cover_pct}","Cache The Entry Identifier":"true","Age Off Duration":"1 day","FlowFile Description":"","Distributed Cache Service":"7948d402-2ac0-3b6a-94b7-cee71d4df545"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache The Entry Identifier":{"name":"Cache The Entry Identifier","displayName":"Cache The Entry Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Age Off Duration":{"name":"Age Off Duration","displayName":"Age Off Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Description":{"name":"FlowFile Description","displayName":"FlowFile Description","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","duplicate"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"5855643a-0197-1000-369e-762c14f56930","instanceIdentifier":"bf0477dc-ee6d-3820-00c3-308644b36349","name":"EvaluateJsonPath","comments":"","position":{"x":-416.0,"y":-384.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Destination":"flowfile-attribute","temperature_2m_C":"$.temperature_2m_C","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","time":"$.time","relative_humidity_2m_pct":"$.relative_humidity_2m_pct","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"temperature_2m_C":{"name":"temperature_2m_C","displayName":"temperature_2m_C","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"time":{"name":"time","displayName":"time","identifiesControllerService":false,"sensitive":false,"dynamic":true},"relative_humidity_2m_pct":{"name":"relative_humidity_2m_pct","displayName":"relative_humidity_2m_pct","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"af787a57-6333-3c3a-8de7-531de9b71da9","instanceIdentifier":"58142e81-0197-1000-9acb-79b13c1c4f09","name":"UpdateRecord","comments":"","position":{"x":-544.0,"y":-576.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Record Writer":"17f6974a-2827-357f-9653-597da982a9c7","Record Reader":"b0052c42-73cc-39e7-8b8c-a535e8839344","/formatted_dt":"replace(/time, 'T', ' ')  + ':00'","Replacement Value Strategy":"literal-value"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/formatted_dt":{"name":"/formatted_dt","displayName":"/formatted_dt","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"cb173d43-42b7-38ee-96ba-a05dba396772","instanceIdentifier":"d0941ce1-6927-39ac-33e5-0c7270638807","name":"MergeContent","comments":"","position":{"x":336.0,"y":-360.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","FlowFile Insertion Strategy":"Last in Bin","Compression Level":"1","Maximum Number of Entries":"20","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":"1 min","Demarcator File":"\n","Correlation Attribute Name":null,"Bin Termination Check":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"2"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Insertion Strategy":{"name":"FlowFile Insertion Strategy","displayName":"FlowFile Insertion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bin Termination Check":{"name":"Bin Termination Check","displayName":"Bin Termination Check","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"8b5536d5-da61-3721-9fa5-83d043d9f9bc","instanceIdentifier":"84d4b599-ee49-3d80-5908-f77bc2b45f4f","name":"GenerateFlowFile","comments":"","position":{"x":440.0,"y":-104.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"formatted_dt,temp,wind_speed\n","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 0 0 * * ?","schedulingStrategy":"CRON_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"}],"inputPorts":[{"identifier":"075e7e7b-1d8e-38a7-a369-3ce00d488b9e","instanceIdentifier":"56808999-0197-1000-4dbe-2dea44506f42","name":"from-simulator","position":{"x":-976.0,"y":-552.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"5d1c9f9c-a9d5-33ef-aad5-c5c41f9cfdbb","instanceIdentifier":"58784a58-0197-1000-6370-d32641ff9a10","name":"from api","position":{"x":-208.0,"y":-704.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"}],"outputPorts":[],"connections":[{"identifier":"71dc8e17-a353-3ef6-b6cb-eaa2f8f5a67d","instanceIdentifier":"58584db4-0197-1000-631d-d74f3c9292b7","name":"","source":{"id":"5855643a-0197-1000-369e-762c14f56930","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"bf0477dc-ee6d-3820-00c3-308644b36349"},"destination":{"id":"be2d55ad-f2e8-3c5a-81b5-46c047ec3e7e","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"DetectDuplicate","comments":"","instanceIdentifier":"56265948-0197-1000-4a1e-c3f040e0fa53"},"labelIndex":0,"zIndex":17,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"c8ee3385-efa5-3d1c-876d-405bfea48686","instanceIdentifier":"5629c138-0197-1000-d717-b1d303b3cc03","name":"","source":{"id":"be2d55ad-f2e8-3c5a-81b5-46c047ec3e7e","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"DetectDuplicate","comments":"","instanceIdentifier":"56265948-0197-1000-4a1e-c3f040e0fa53"},"destination":{"id":"cb173d43-42b7-38ee-96ba-a05dba396772","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"MergeContent","comments":"","instanceIdentifier":"d0941ce1-6927-39ac-33e5-0c7270638807"},"labelIndex":0,"zIndex":10,"selectedRelationships":["non-duplicate"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"6a08312c-6184-3bb7-a010-52ac94b19ef7","instanceIdentifier":"71afb9f7-45b8-3558-8408-7f8fa4ebdff6","name":"","source":{"id":"8b5536d5-da61-3721-9fa5-83d043d9f9bc","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"GenerateFlowFile","comments":"","instanceIdentifier":"84d4b599-ee49-3d80-5908-f77bc2b45f4f"},"destination":{"id":"cb173d43-42b7-38ee-96ba-a05dba396772","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"MergeContent","comments":"","instanceIdentifier":"d0941ce1-6927-39ac-33e5-0c7270638807"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"d81af1b3-cf6f-3871-a64b-5a935b151c1c","instanceIdentifier":"5869906c-0197-1000-f613-0842e1551ce8","name":"","source":{"id":"af787a57-6333-3c3a-8de7-531de9b71da9","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"UpdateRecord","comments":"","instanceIdentifier":"58142e81-0197-1000-9acb-79b13c1c4f09"},"destination":{"id":"3fc9a24c-3839-3151-8e62-3ad251bcd3d5","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"SplitJson","comments":"","instanceIdentifier":"58687515-0197-1000-76d8-7cc7a532ede2"},"labelIndex":0,"zIndex":18,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"d6edc08f-c603-33d5-bb4d-dac26ecd89f7","instanceIdentifier":"d245d116-77c8-3cbe-2425-35682d075a03","name":"","source":{"id":"cb173d43-42b7-38ee-96ba-a05dba396772","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"MergeContent","comments":"","instanceIdentifier":"d0941ce1-6927-39ac-33e5-0c7270638807"},"destination":{"id":"d35a2a5d-546f-3994-85a4-e34879580da0","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"PutFile","comments":"","instanceIdentifier":"7b199001-3ba6-3818-5470-9148eee5cc6c"},"labelIndex":0,"zIndex":4,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"8b95d0f2-53b8-30e3-9b16-e8a0fabb9a65","instanceIdentifier":"587ac6f5-0197-1000-dbca-edfc538605ca","name":"","source":{"id":"5d1c9f9c-a9d5-33ef-aad5-c5c41f9cfdbb","type":"INPUT_PORT","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"from api","instanceIdentifier":"58784a58-0197-1000-6370-d32641ff9a10"},"destination":{"id":"be2d55ad-f2e8-3c5a-81b5-46c047ec3e7e","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"DetectDuplicate","comments":"","instanceIdentifier":"56265948-0197-1000-4a1e-c3f040e0fa53"},"labelIndex":0,"zIndex":20,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"9a77e039-75c5-3ccd-85f9-458be72cb702","instanceIdentifier":"5869b44e-0197-1000-e5d3-41a01209b615","name":"","source":{"id":"3fc9a24c-3839-3151-8e62-3ad251bcd3d5","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"SplitJson","comments":"","instanceIdentifier":"58687515-0197-1000-76d8-7cc7a532ede2"},"destination":{"id":"5855643a-0197-1000-369e-762c14f56930","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"bf0477dc-ee6d-3820-00c3-308644b36349"},"labelIndex":0,"zIndex":19,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"c6147d74-ad2f-34ec-95c3-94f3005ac28d","instanceIdentifier":"582c53c6-0197-1000-e7dc-1f55d8f51b04","name":"","source":{"id":"075e7e7b-1d8e-38a7-a369-3ce00d488b9e","type":"INPUT_PORT","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"from-simulator","instanceIdentifier":"56808999-0197-1000-4dbe-2dea44506f42"},"destination":{"id":"af787a57-6333-3c3a-8de7-531de9b71da9","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"UpdateRecord","comments":"","instanceIdentifier":"58142e81-0197-1000-9acb-79b13c1c4f09"},"labelIndex":0,"zIndex":15,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"6fcc76a6-b331-393e-b5d6-48a59f7eaccc","instanceIdentifier":"584f6865-0197-1000-f6c2-2293b624102a","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"weather\",\n  \"fields\": [\n    {\"name\": \"time\", \"type\": \"string\"},\n    {\"name\": \"temperature_2m_C\", \"type\": \"double\"},\n    {\"name\": \"relative_humidity_2m_pct\", \"type\": \"int\"},\n    {\"name\": \"precipitation_mm\", \"type\": \"double\"},\n    {\"name\": \"weather_code\", \"type\": \"int\"},\n    {\"name\": \"wind_speed_10m_kmh\", \"type\": \"double\"},\n    {\"name\": \"wind_direction_10m_deg\", \"type\": \"int\"},\n    {\"name\": \"cloud_cover_pct\", \"type\": \"int\"}\n  ]\n}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"17f6974a-2827-357f-9653-597da982a9c7","instanceIdentifier":"5828b18a-0197-1000-1053-aee81867f58e","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"weather\",\n  \"fields\": [\n    {\"name\": \"time\", \"type\": \"string\"},\n    {\"name\": \"temperature_2m_C\", \"type\": \"double\"},\n    {\"name\": \"relative_humidity_2m_pct\", \"type\": \"int\"},\n    {\"name\": \"precipitation_mm\", \"type\": \"double\"},\n    {\"name\": \"weather_code\", \"type\": \"int\"},\n    {\"name\": \"wind_speed_10m_kmh\", \"type\": \"double\"},\n    {\"name\": \"wind_direction_10m_deg\", \"type\": \"int\"},\n    {\"name\": \"cloud_cover_pct\", \"type\": \"int\"}\n  ]\n}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"7948d402-2ac0-3b6a-94b7-cee71d4df545","instanceIdentifier":"560249c8-0197-1000-8cbc-97979fa99972","name":"MapCacheClientService","comments":"","type":"org.apache.nifi.distributed.cache.client.MapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"2.4.0"},"properties":{"SSL Context Service":null,"Server Port":"4557","Server Hostname":"localhost","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}},{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"b0052c42-73cc-39e7-8b8c-a535e8839344","instanceIdentifier":"5815fff8-0197-1000-307d-77e96474a7bf","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-text-property","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"weather\",\n  \"fields\": [\n    {\"name\": \"time\", \"type\": \"string\"},\n    {\"name\": \"temperature_2m_C\", \"type\": \"double\"},\n    {\"name\": \"relative_humidity_2m_pct\", \"type\": \"int\"},\n    {\"name\": \"precipitation_mm\", \"type\": \"double\"},\n    {\"name\": \"weather_code\", \"type\": \"int\"},\n    {\"name\": \"wind_speed_10m_kmh\", \"type\": \"double\"},\n    {\"name\": \"wind_direction_10m_deg\", \"type\": \"int\"},\n    {\"name\": \"cloud_cover_pct\", \"type\": \"int\"}\n  ]\n}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"9591c153-b889-3ca8-a9fb-5be088e61b7d","instanceIdentifier":"562725eb-0197-1000-ab87-cc86d46decbf","name":"MapCacheServer","comments":"","type":"org.apache.nifi.distributed.cache.server.map.MapCacheServer","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"2.4.0"},"properties":{"Eviction Strategy":"Least Frequently Used","SSL Context Service":null,"Persistence Directory":null,"maximum-read-size":"1 MB","Port":"4557","Maximum Cache Entries":"10000"},"propertyDescriptors":{"Eviction Strategy":{"name":"Eviction Strategy","displayName":"Eviction Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Persistence Directory":{"name":"Persistence Directory","displayName":"Persistence Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"maximum-read-size":{"name":"maximum-read-size","displayName":"Maximum Read Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Cache Entries":{"name":"Maximum Cache Entries","displayName":"Maximum Cache Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"4b3f78c0-db26-326d-ace1-2081b615976e"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"cb81ee68-1bae-34a4-9605-9d051d30c6ea","instanceIdentifier":"5878f1f4-0197-1000-85e8-98333514ca68","name":"","source":{"id":"587894e6-0197-1000-c6d0-8495cf2b99f2","type":"OUTPUT_PORT","groupId":"587894e2-0197-1000-58cc-a0f0bbb0967e","name":"To api","instanceIdentifier":"2ee82dcc-ab7e-3680-11b6-803f2ed59c5b"},"destination":{"id":"5d1c9f9c-a9d5-33ef-aad5-c5c41f9cfdbb","type":"INPUT_PORT","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"from api","instanceIdentifier":"58784a58-0197-1000-6370-d32641ff9a10"},"labelIndex":0,"zIndex":2,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4b3f78c0-db26-326d-ace1-2081b615976e"},{"identifier":"990d56b1-33c9-37ce-82cf-fc2926f9e386","instanceIdentifier":"56819ff4-0197-1000-dd05-4bebe16dbdf1","name":"","source":{"id":"36f8e2f1-8573-380c-a334-ca898c673774","type":"OUTPUT_PORT","groupId":"df912b39-40a1-3a58-9261-40f8fea9cdef","name":"simulator","instanceIdentifier":"568158ad-0197-1000-450c-ff620a2f5ffa"},"destination":{"id":"075e7e7b-1d8e-38a7-a369-3ce00d488b9e","type":"INPUT_PORT","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"from-simulator","instanceIdentifier":"56808999-0197-1000-4dbe-2dea44506f42"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4b3f78c0-db26-326d-ace1-2081b615976e"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}