docker/nifi/flows/NiFi_Flow.json
{"flowContents":{"identifier":"4b3f78c0-db26-326d-ace1-2081b615976e","instanceIdentifier":"55e8ac2f-0197-1000-5c3a-42bbf6100f15","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"df912b39-40a1-3a58-9261-40f8fea9cdef","instanceIdentifier":"5669c26c-0197-1000-5222-2ee0070dd776","name":"Data","comments":"","position":{"x":-536.0,"y":-256.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5668f88a-0197-1000-2cb6-c372d4b90284","instanceIdentifier":"35eaa306-c4ed-3044-50a8-29daa5fd3fbb","name":"SplitText","comments":"","position":{"x":-1016.0,"y":-96.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"df912b39-40a1-3a58-9261-40f8fea9cdef"},{"identifier":"5668f88b-0197-1000-3ec8-a3964193e610","instanceIdentifier":"18b3e5a7-5bc5-36b7-3314-044c4b891182","name":"GetFile","comments":"","position":{"x":-1640.0,"y":-48.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"data/input","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"df912b39-40a1-3a58-9261-40f8fea9cdef"},{"identifier":"5668f889-0197-1000-b16c-7b2c69b21582","instanceIdentifier":"20911b81-9741-34b6-1415-1a6bfaf6cfff","name":"ControlRate","comments":"","position":{"x":-496.0,"y":-48.0},"type":"org.apache.nifi.processors.standard.ControlRate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Rate Exceeded Strategy":"Hold FlowFile","Maximum FlowFile Rate":null,"Time Duration":"1 second","Grouping Attribute":null,"Maximum Rate":"1 MB","Rate Controlled Attribute":null,"Rate Control Criteria":"data rate","Maximum Data Rate":null},"propertyDescriptors":{"Rate Exceeded Strategy":{"name":"Rate Exceeded Strategy","displayName":"Rate Exceeded Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum FlowFile Rate":{"name":"Maximum FlowFile Rate","displayName":"Maximum FlowFile Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Duration":{"name":"Time Duration","displayName":"Time Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Grouping Attribute":{"name":"Grouping Attribute","displayName":"Grouping Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Rate":{"name":"Maximum Rate","displayName":"Maximum Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Controlled Attribute":{"name":"Rate Controlled Attribute","displayName":"Rate Controlled Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Control Criteria":{"name":"Rate Control Criteria","displayName":"Rate Control Criteria","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Data Rate":{"name":"Maximum Data Rate","displayName":"Maximum Data Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"df912b39-40a1-3a58-9261-40f8fea9cdef"}],"inputPorts":[],"outputPorts":[{"identifier":"36f8e2f1-8573-380c-a334-ca898c673774","instanceIdentifier":"568158ad-0197-1000-450c-ff620a2f5ffa","name":"simulator","position":{"x":90.0787729553565,"y":-9.014217806818692},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"df912b39-40a1-3a58-9261-40f8fea9cdef"}],"connections":[{"identifier":"5668f88f-0197-1000-2205-841b2fac1b8c","instanceIdentifier":"0df25ee8-1942-326a-bee2-0778789630a1","name":"","source":{"id":"5668f88b-0197-1000-3ec8-a3964193e610","type":"PROCESSOR","groupId":"df912b39-40a1-3a58-9261-40f8fea9cdef","name":"GetFile","comments":"","instanceIdentifier":"18b3e5a7-5bc5-36b7-3314-044c4b891182"},"destination":{"id":"5668f88a-0197-1000-2cb6-c372d4b90284","type":"PROCESSOR","groupId":"df912b39-40a1-3a58-9261-40f8fea9cdef","name":"SplitText","comments":"","instanceIdentifier":"35eaa306-c4ed-3044-50a8-29daa5fd3fbb"},"labelIndex":0,"zIndex":11,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"df912b39-40a1-3a58-9261-40f8fea9cdef"},{"identifier":"5668f88d-0197-1000-6d56-aa0f3ab3813e","instanceIdentifier":"053e173f-e1c1-3f44-218b-6fcf123a981a","name":"","source":{"id":"5668f88a-0197-1000-2cb6-c372d4b90284","type":"PROCESSOR","groupId":"df912b39-40a1-3a58-9261-40f8fea9cdef","name":"SplitText","comments":"","instanceIdentifier":"35eaa306-c4ed-3044-50a8-29daa5fd3fbb"},"destination":{"id":"5668f889-0197-1000-b16c-7b2c69b21582","type":"PROCESSOR","groupId":"df912b39-40a1-3a58-9261-40f8fea9cdef","name":"ControlRate","comments":"","instanceIdentifier":"20911b81-9741-34b6-1415-1a6bfaf6cfff"},"labelIndex":0,"zIndex":12,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"df912b39-40a1-3a58-9261-40f8fea9cdef"},{"identifier":"f3d61c42-f8b8-3e14-96d8-d710051cf8a6","instanceIdentifier":"5681747c-0197-1000-eab2-fb437f96c71b","name":"","source":{"id":"5668f889-0197-1000-b16c-7b2c69b21582","type":"PROCESSOR","groupId":"df912b39-40a1-3a58-9261-40f8fea9cdef","name":"ControlRate","comments":"","instanceIdentifier":"20911b81-9741-34b6-1415-1a6bfaf6cfff"},"destination":{"id":"36f8e2f1-8573-380c-a334-ca898c673774","type":"OUTPUT_PORT","groupId":"df912b39-40a1-3a58-9261-40f8fea9cdef","name":"simulator","instanceIdentifier":"568158ad-0197-1000-450c-ff620a2f5ffa"},"labelIndex":0,"zIndex":13,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"df912b39-40a1-3a58-9261-40f8fea9cdef"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"4b3f78c0-db26-326d-ace1-2081b615976e"},{"identifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","instanceIdentifier":"55e987f2-0197-1000-30e4-c803c8c71bac","name":"bigdataweather","comments":"","position":{"x":120.0,"y":-248.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"568518e5-0197-1000-57f7-6b45ba77ef18","instanceIdentifier":"9b77025a-7e10-3e3d-89fa-85e78eb8a759","name":"UpdateAttribute","comments":"","position":{"x":72.0,"y":-600.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"formatted_dt":"${time:replace(\"T\", \" \"):append(\":00\")}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"formatted_dt":{"name":"formatted_dt","displayName":"formatted_dt","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"d35a2a5d-546f-3994-85a4-e34879580da0","instanceIdentifier":"7b199001-3ba6-3818-5470-9148eee5cc6c","name":"PutFile","comments":"","position":{"x":2984.0,"y":-560.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/opt/nifi/nifi-current/output","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"be2d55ad-f2e8-3c5a-81b5-46c047ec3e7e","instanceIdentifier":"56265948-0197-1000-4a1e-c3f040e0fa53","name":"DetectDuplicate","comments":"","position":{"x":1504.0,"y":-864.0},"type":"org.apache.nifi.processors.standard.DetectDuplicate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Cache Entry Identifier":"${formatted_dt}","Cache The Entry Identifier":"true","Age Off Duration":"1 day","FlowFile Description":"","Distributed Cache Service":"7948d402-2ac0-3b6a-94b7-cee71d4df545"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache The Entry Identifier":{"name":"Cache The Entry Identifier","displayName":"Cache The Entry Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Age Off Duration":{"name":"Age Off Duration","displayName":"Age Off Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Description":{"name":"FlowFile Description","displayName":"FlowFile Description","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","duplicate"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"43d4e29e-4771-31c3-8dda-89ebe9be1103","instanceIdentifier":"fd5fe801-ccef-3a7a-fe2e-554c968fa588","name":"ReplaceText","comments":"","position":{"x":576.0,"y":-520.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Regular Expression":"(?s).*","Replacement Value":"${formatted_dt},${temperature},${humidity},${precipitation},${weather_code},${wind_speed},${wind_direction},${cloud_cover}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"7a9eb913-38d2-3ab5-9c75-a66658edcf75","instanceIdentifier":"cec17f18-e272-3d06-68eb-2f080edcf418","name":"EvaluateJsonPath","comments":"","position":{"x":-8.0,"y":-248.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"dt":"$.dt","Destination":"flowfile-attribute","temp":"$.main.temp","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","wind_speed":"$.wind.speed","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"dt":{"name":"dt","displayName":"dt","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"temp":{"name":"temp","displayName":"temp","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"wind_speed":{"name":"wind_speed","displayName":"wind_speed","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"cb173d43-42b7-38ee-96ba-a05dba396772","instanceIdentifier":"d0941ce1-6927-39ac-33e5-0c7270638807","name":"MergeContent","comments":"","position":{"x":2360.0,"y":-528.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","FlowFile Insertion Strategy":"Last in Bin","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":"1 min","Demarcator File":"\n","Correlation Attribute Name":null,"Bin Termination Check":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"2"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Insertion Strategy":{"name":"FlowFile Insertion Strategy","displayName":"FlowFile Insertion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bin Termination Check":{"name":"Bin Termination Check","displayName":"Bin Termination Check","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"8b5536d5-da61-3721-9fa5-83d043d9f9bc","instanceIdentifier":"84d4b599-ee49-3d80-5908-f77bc2b45f4f","name":"GenerateFlowFile","comments":"","position":{"x":1600.0,"y":-192.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"formatted_dt,temp,wind_speed\n","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 0 0 * * ?","schedulingStrategy":"CRON_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"e2da894b-7993-3933-b6aa-d3ed45bd837c","instanceIdentifier":"bca7a146-bdf2-3724-b2d2-13a97db97705","name":"UpdateAttribute","comments":"","position":{"x":688.0,"y":-256.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"formatted_dt":"${dt:toNumber():multiply(1000):toDate():format(\"yyyy-MM-dd HH:mm:ss\")}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"formatted_dt":{"name":"formatted_dt","displayName":"formatted_dt","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"6f682163-64fe-3586-a6bd-95b5b8ff497a","instanceIdentifier":"1e4b963a-2b08-32fd-634b-fff7b09c3687","name":"Fetch Weather","comments":"","position":{"x":-672.0,"y":-144.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://api.openweathermap.org/data/2.5/weather?q=London&appid=5f6866996a6754f517c8bcf00d78ba46","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0.5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"}],"inputPorts":[{"identifier":"075e7e7b-1d8e-38a7-a369-3ce00d488b9e","instanceIdentifier":"56808999-0197-1000-4dbe-2dea44506f42","name":"from-simulator","position":{"x":-416.0,"y":-584.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"}],"outputPorts":[],"connections":[{"identifier":"c8ee3385-efa5-3d1c-876d-405bfea48686","instanceIdentifier":"5629c138-0197-1000-d717-b1d303b3cc03","name":"","source":{"id":"be2d55ad-f2e8-3c5a-81b5-46c047ec3e7e","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"DetectDuplicate","comments":"","instanceIdentifier":"56265948-0197-1000-4a1e-c3f040e0fa53"},"destination":{"id":"cb173d43-42b7-38ee-96ba-a05dba396772","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"MergeContent","comments":"","instanceIdentifier":"d0941ce1-6927-39ac-33e5-0c7270638807"},"labelIndex":0,"zIndex":10,"selectedRelationships":["non-duplicate"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"7426f58a-367f-33aa-9d15-738217e540d8","instanceIdentifier":"56809f58-0197-1000-d273-a53dbd99b8d4","name":"","source":{"id":"075e7e7b-1d8e-38a7-a369-3ce00d488b9e","type":"INPUT_PORT","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"from-simulator","instanceIdentifier":"56808999-0197-1000-4dbe-2dea44506f42"},"destination":{"id":"568518e5-0197-1000-57f7-6b45ba77ef18","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"UpdateAttribute","comments":"","instanceIdentifier":"9b77025a-7e10-3e3d-89fa-85e78eb8a759"},"labelIndex":0,"zIndex":11,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"6a08312c-6184-3bb7-a010-52ac94b19ef7","instanceIdentifier":"71afb9f7-45b8-3558-8408-7f8fa4ebdff6","name":"","source":{"id":"8b5536d5-da61-3721-9fa5-83d043d9f9bc","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"GenerateFlowFile","comments":"","instanceIdentifier":"84d4b599-ee49-3d80-5908-f77bc2b45f4f"},"destination":{"id":"cb173d43-42b7-38ee-96ba-a05dba396772","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"MergeContent","comments":"","instanceIdentifier":"d0941ce1-6927-39ac-33e5-0c7270638807"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"d6edc08f-c603-33d5-bb4d-dac26ecd89f7","instanceIdentifier":"d245d116-77c8-3cbe-2425-35682d075a03","name":"","source":{"id":"cb173d43-42b7-38ee-96ba-a05dba396772","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"MergeContent","comments":"","instanceIdentifier":"d0941ce1-6927-39ac-33e5-0c7270638807"},"destination":{"id":"d35a2a5d-546f-3994-85a4-e34879580da0","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"PutFile","comments":"","instanceIdentifier":"7b199001-3ba6-3818-5470-9148eee5cc6c"},"labelIndex":0,"zIndex":4,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"777ee844-341c-33e1-b814-eb56aea76b32","instanceIdentifier":"5629acf3-0197-1000-6f37-404a0ddb3cb4","name":"","source":{"id":"43d4e29e-4771-31c3-8dda-89ebe9be1103","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"ReplaceText","comments":"","instanceIdentifier":"fd5fe801-ccef-3a7a-fe2e-554c968fa588"},"destination":{"id":"be2d55ad-f2e8-3c5a-81b5-46c047ec3e7e","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"DetectDuplicate","comments":"","instanceIdentifier":"56265948-0197-1000-4a1e-c3f040e0fa53"},"labelIndex":0,"zIndex":9,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"88f7a9a2-e013-3315-b3e4-34e0d24bbab8","instanceIdentifier":"cbd0c0c5-bb98-31c5-9103-081b5212717a","name":"","source":{"id":"7a9eb913-38d2-3ab5-9c75-a66658edcf75","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"cec17f18-e272-3d06-68eb-2f080edcf418"},"destination":{"id":"e2da894b-7993-3933-b6aa-d3ed45bd837c","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"UpdateAttribute","comments":"","instanceIdentifier":"bca7a146-bdf2-3724-b2d2-13a97db97705"},"labelIndex":0,"zIndex":5,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"8e9c18a1-550e-3b41-989f-a13d94522a92","instanceIdentifier":"9a2dccd2-242c-30fe-ac24-a5dc4e954617","name":"","source":{"id":"e2da894b-7993-3933-b6aa-d3ed45bd837c","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"UpdateAttribute","comments":"","instanceIdentifier":"bca7a146-bdf2-3724-b2d2-13a97db97705"},"destination":{"id":"e2da894b-7993-3933-b6aa-d3ed45bd837c","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"UpdateAttribute","comments":"","instanceIdentifier":"bca7a146-bdf2-3724-b2d2-13a97db97705"},"labelIndex":0,"zIndex":6,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1157.0,"y":-217.0},{"x":1157.0,"y":-167.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"f6cccd8a-db3f-3001-b155-f65f160ba48e","instanceIdentifier":"568c863f-0197-1000-d732-3106a8c63536","name":"","source":{"id":"568518e5-0197-1000-57f7-6b45ba77ef18","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"UpdateAttribute","comments":"","instanceIdentifier":"9b77025a-7e10-3e3d-89fa-85e78eb8a759"},"destination":{"id":"43d4e29e-4771-31c3-8dda-89ebe9be1103","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"ReplaceText","comments":"","instanceIdentifier":"fd5fe801-ccef-3a7a-fe2e-554c968fa588"},"labelIndex":0,"zIndex":12,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"66b2ce83-1e11-322a-98dd-0ccc491a5ea9","instanceIdentifier":"eb25c0c8-b6aa-39a2-b1da-6a4af78b8365","name":"","source":{"id":"6f682163-64fe-3586-a6bd-95b5b8ff497a","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"Fetch Weather","comments":"","instanceIdentifier":"1e4b963a-2b08-32fd-634b-fff7b09c3687"},"destination":{"id":"7a9eb913-38d2-3ab5-9c75-a66658edcf75","type":"PROCESSOR","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"cec17f18-e272-3d06-68eb-2f080edcf418"},"labelIndex":0,"zIndex":1,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"7948d402-2ac0-3b6a-94b7-cee71d4df545","instanceIdentifier":"560249c8-0197-1000-8cbc-97979fa99972","name":"MapCacheClientService","comments":"","type":"org.apache.nifi.distributed.cache.client.MapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"2.4.0"},"properties":{"SSL Context Service":null,"Server Port":"4557","Server Hostname":"localhost","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}},{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"},{"identifier":"9591c153-b889-3ca8-a9fb-5be088e61b7d","instanceIdentifier":"562725eb-0197-1000-ab87-cc86d46decbf","name":"MapCacheServer","comments":"","type":"org.apache.nifi.distributed.cache.server.map.MapCacheServer","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"2.4.0"},"properties":{"Eviction Strategy":"Least Frequently Used","SSL Context Service":null,"Persistence Directory":null,"maximum-read-size":"1 MB","Port":"4557","Maximum Cache Entries":"10000"},"propertyDescriptors":{"Eviction Strategy":{"name":"Eviction Strategy","displayName":"Eviction Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Persistence Directory":{"name":"Persistence Directory","displayName":"Persistence Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"maximum-read-size":{"name":"maximum-read-size","displayName":"Maximum Read Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Cache Entries":{"name":"Maximum Cache Entries","displayName":"Maximum Cache Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"4b3f78c0-db26-326d-ace1-2081b615976e"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"990d56b1-33c9-37ce-82cf-fc2926f9e386","instanceIdentifier":"56819ff4-0197-1000-dd05-4bebe16dbdf1","name":"","source":{"id":"36f8e2f1-8573-380c-a334-ca898c673774","type":"OUTPUT_PORT","groupId":"df912b39-40a1-3a58-9261-40f8fea9cdef","name":"simulator","instanceIdentifier":"568158ad-0197-1000-450c-ff620a2f5ffa"},"destination":{"id":"075e7e7b-1d8e-38a7-a369-3ce00d488b9e","type":"INPUT_PORT","groupId":"9523fc48-94f4-3c8e-9d6e-db135ba21d4f","name":"from-simulator","instanceIdentifier":"56808999-0197-1000-4dbe-2dea44506f42"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4b3f78c0-db26-326d-ace1-2081b615976e"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}